# Ignore virtual environment folder
.venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore pyrightconfig
pyrightconfig.json

# Ignore sensitive environment variables
.env

# Ignore gemini markdown
GEMINI.md

# Ignore log files
*.log
